<!DOCTYPE html>
	<html>
		<body>

			<h1>YOUR_NAME Web Page</h1>

			<p>My first name is: </p>
			<p id="first_name"> XXXXXXX </p>
			
			<p>My last name is: </p>
			<p id="last_name"> YYYYYYY </p>

			<img src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=phXTkZYZ3vo6HRQzq%2BY2ia%2FWyDw%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6igBdX0hI2raqOukG860ZDRIDQBy33Ann_ucvDY2m4JJaVJuzw4x4IK3NcjwUwfOa3EWbpG5e1f4O8L4l3j5WwIJm2PlZeOR5u1mwdv4dibk1qpZqh" alt="Percy" style="width:200px;height:400px;">

			<script>
				document.getElementById("first_name").innerHTML = "";
				document.getElementById("last_name").innerHTML = "";
			</script>

		</body>
</html>